body {
  font-family: sans-serif;
}

.footerItems {
  display: flex;
}

.btn {
  background-color: #00b4f3;
  color: white;
  padding: 15px 132px;
  outline: none;
  border: none;
}


.cartItems {
  display: flex;
  flex-direction: row;
}

.productName {
  font-weight: bold;
}

.productColor {
  font-size: 20px;
  color: transparent;
  width: 50px;
}

.productName {
 margin-right: 20px;
 width: 70px;
}


.header {
  padding: 20px;
}

.productPrice {
  font-weight: bold;
  margin-left: 20px;
  padding: 5px;
}

.subTotal {
  font-weight: bold;
}


.recycle-bin{
  width: 35px;
  height: 40px;
  margin-top: 60px;
}

.changeCount{
  width: 70px;
}

.buttonsContainer{
  margin-left: 5px;
}

.border{
  border: 1px solid black;
}


